<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Accessibility App</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1 class="mt-5 text-center">Airport Accessibility App!</h1>

    <div class="container" id="app-components">
        <div class="row" id="time_date">
            <div class="col d-flex justify-content-start fs-5" id="current_time">
                Current Time: <span id="time_display"></span>
            </div>
            <div class="col d-flex justify-content-end fs-5" id="current_date">
                <span id="date_display"></span>
            </div>
        </div>
        <div class="row" id="top-row">
            <div class="container-flight-details" id="flight-details">
                <h3>Flight Details</h3>
                <!-- Terminal, Gate, Time, Airline -->
                <ul class="list-group">
                    <li><strong>Terminal:</strong> A</li>
                    <li><strong>Gate:</strong> D</li>
                    <li><strong>Flight Number:</strong> AA1234</li>
                    <li><strong>Airline:</strong> American Airlines</li>
                </ul>
            </div>
            <div class="container-robot-communication" id="robot-communication">
                <div class="row align-items-center">
                    <h3>Robot Communication</h3>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-success robot-start-stop-button w-100" onclick="toggleMovement()">Start</button>
                        <button class="btn btn-primary robot-lock-unlock-button w-100" onclick="toggleLock()">Unlocked</button>
                    </div>
                    <div class="col-4" id="speed-control">
                        <div class="row">
                            <span class="speed-label">Speed: </span>
                        </div>
                        <div>
                            <button class="btn btn-dark border-white w-100" id="speed-btn" onclick="increaseSpeed()">&#9650</button>
                            <button class="btn btn-dark border-white w-100" id="speed-btn" onclick="decreaseSpeed()">&#9660</button>
                        </div>
                    </div>
                    <div class="col-4" id="siren-control">
                        <div class="row">
                            <span class="siren-label">Siren Blare: </span>
                        </div>
                        <div>
                            <button class="btn btn-secondary robot-siren-button w-100" onclick="toggleSiren()">Off</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-emergency" id="emergency">
                <div class="row align-buttons">
                    <div class = "col-6 d-flex">
                        <button class="btn btn-danger emergency-button" id="emergency-btn" onclick="callEmergency()">Call 911</button>
                    </div>
                    <div class = "col-6 d-flex">
                        <button class="btn btn-danger emergency-button" id="emergency-btn" onclick="findNearestExit()">Nearest Exit</button>
                    </div>
                </div>
                <!-- Contacting SOS (911) -->
            </div>
        </div>

        <div class="row" id="bottom-row">
            <div class="col-4" id="navigation-info">

                <!-- Start Gates -->
                <div class="card" id="start-gates">
                    <div class="card-header">
                        <b>Start Gates</b>
                    </div>
                    <div class="button-container">
                        <button class="btn btn-dark border-black nav-button" id="gate-A" onclick="selectGate('gate-A', true)">Gate A</button>
                        <button class="btn btn-dark border-black nav-button" id="gate-B" onclick="selectGate('gate-B', true)">Gate B</button>
                        <button class="btn btn-dark border-black nav-button" id="gate-C" onclick="selectGate('gate-C', true)">Gate C</button>
                        <button class="btn btn-dark border-black nav-button" id="gate-D" onclick="selectGate('gate-D', true)">Gate D</button>
                    </div>
                </div>

                <!-- Rest Stops -->
                <div class="card" id="rest-stops">
                    <div class="card-header">
                        <b>Rest Stops</b>
                    </div>
                    <div class="button-container">
                        <button class="btn btn-dark border-black nav-button" id="stop-A" onclick="selectRestStop('stop-A')">Shake Shack</button>
                        <button class="btn btn-dark border-black nav-button" id="stop-B" onclick="selectRestStop('stop-B')">Bathroom</button>
                        <button class="btn btn-dark border-black nav-button" id="stop-C" onclick="selectRestStop('stop-C')">Help Desk</button>
                        <button class="btn btn-dark border-black nav-button" id="stop-D" onclick="selectRestStop('stop-D')">Lounge</button>
                    </div>
                </div>

                <!-- End Gates -->
                <div class="card" id="end-gates">
                    <div class="card-header">
                        <b>End Gates</b>
                    </div>
                    <div class="button-container">
                        <button class="btn btn-dark border-black nav-button" id="gate-E" onclick="selectGate('gate-E', false)">Gate E</button>
                        <button class="btn btn-dark border-black nav-button" id="gate-F" onclick="selectGate('gate-F', false)">Gate F</button>
                        <button class="btn btn-dark border-black nav-button" id="gate-G" onclick="selectGate('gate-G', false)">Gate G</button>
                        <button class="btn btn-dark border-black nav-button" id="gate-H" onclick="selectGate('gate-H', false)">Gate H</button>
                    </div>
                </div>

                <div class="row text-center" id="nav-action-buttons">
                    <!-- Reset Button -->
                    <div class="col-4">
                        <button class="btn btn-secondary" onclick="resetPlot()">Reset</button>
                    </div>

                    <!-- Calculate Distance Button-->
                    <div class="col-4">
                        <button class="btn btn-secondary" onclick="calculateDistance()">Calculate</button>
                    </div>

                    <!-- Start Button -->
                    <div class="col-4">
                        <button class="btn btn-secondary" onclick="startNavigation()">Start</button>
                    </div>
                </div>
            </div>
            <div class="col-8" id="nav-display">

                <!-- Plot Container -->
                <div class="container" id="map"></div>

                <!-- Other Information Container -->
                <div class="container" id="other-info">
                    <div id="eta">
                        <h2 style="font-weight: bold; font-size: 1.5em;">ETA:</h2>
                        <p id="eta-value" style="font-size: 1em; font-weight: normal; margin-top: -10px;">N/A</p>
                    </div>
                    <div id="distance">
                        <h2 style="font-weight: bold; font-size: 1.5em;">Distance:</h2>
                        <p id="distance-value" style="font-size: 1em; font-weight: normal; margin-top: -10px;">N/A</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <!-- Linking to public/js/plot.js and time.js -->
    <script src="/js/plot.js"></script>
    <script src="/js/time.js"></script>
</body>
</html>
